{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    {{ super() }}
    {{ js_resources|indent(3)|safe }}
    {{ css_resources|indent(3)|safe }}
    {% if plot_script %}
        {{ plot_script|indent(3)|safe }}
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}
{% block content %}
    <div class="container-fluid mw-100">
        <div>
            <h4>
                {{ formtitle }}
            </h4>
        </div>
    </div>
    <div class="container-fluid mw-100 h-100">
        <div class="row flex-fill">
            <div class="col-sm-3">
                <div>
                <form method="post" role="form">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_errors(form, hiddens="only") }}

                  {{ wtf.form_field(form.select, size=10) }}
                  {{ wtf.form_field(form.depth) }}
                  {{ wtf.form_field(form.submit) }}
                  {{ wtf.form_field(form.expanse_select, size=6) }}
                </form>
                </div>
            </div>
            <div class="col-sm-9">
                {% if plot_div and not debug %}
                    {{ plot_div|indent(4)|safe }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}